<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Если файл или директория существуют, отдать их напрямую
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Иначе перенаправить на index.php
    RewriteRule ^ index.php [L]
</IfModule>
